.modal{
	position:fixed;
	top:60%;
	left:50%;
	max-height:450px;
	z-index:1050;
	overflow:auto;
	width:500px;
	margin:-250px 0 0 -280px;
	background-color:#ffffff;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:6px;
	box-shadow:0 3px 7px rgba(0,0,0,0.3);
}
.modal-header{
	padding:9px 15px;
	border-bottom:1px solid #eee;
}
.modal-body{
	padding:10px;
}
.modal-footer{
	padding:14px 15px;
	background-color:#f5f5f5;
	border-top:1px solid #ddd;
	height:60px
}
.modal-backdrop{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#000000;
	opacity:0.4;
}
.btn-success{
	color:#fff;
	background-color:#5cb85c;
	border-color:#4cae4c;
}

.btn{
	padding:12px 1px;
	font-size:14px;
	border-radius:4px;
}
input{
	border:1px solid #ccc;
	border-radius:4px;
	width:100%;
}
.modal-input{
	margin-bottom:15px;
	height:60px
}
.fuzzy{  
    filter: url(blur.svg#blur);  
 /* FireFox, Chrome, Opera */  
    -webkit-filter: blur(3px);  
 /* Chrome, Opera */  
    -moz-filter: blur(3px);  
    -ms-filter: blur(3px);  
    filter: blur(3px);  
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);  
 /* IE6~IE9 */  
}
.modal-ground{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-image:url(./img/bg4.jpg);
	background-size:cover;
}
.hide{
	display:none;
}
.fontchage{
	color:green;
}