<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="/static/commboot.css" rel="stylesheet" type="text/css" />
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <title>Index</title>
		<script type='text/javascript' src='/static/jquery-3.2.1.js'></script>
		<script type="text/javascript" src='/static/zjk-login.js'></script>
		<script type="text/javascript" src='/static/bootstrap/js/bootstrap.js'></script>
		<script type='text/javascript'>
		$(function(){
			$.check('#form');
		})
			$(function(){
				var randomNum=parseInt(Math.random()*5,10);
				$('#ground').css({'background-image':'url(/static/img/bg'+randomNum+'.jpg)',});
			})
		$('#myButton').on('click', function () {
			var $btn = $(this).button('Logging in')
			// business logic...
			$btn.button('reset')
		})
		</script>
    </head>
    <body>
        <div id="ground" class="modal-ground fuzzy"></div>
		
    <div class="modal-dialog" style='margin:15% auto;'>
	<div class="modal-content">
			  <div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Welcome</h4>
			  </div>
			  <div class="modal-body">
			  
		  <form class="form-horizontal" id="form" method="post" action='/login/'>
		  {% csrf_token %}
		  <div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="inputEmail3" placeholder="Username" name='username'>
			</div>
		  </div>
		  <div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
			  <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name='password'>
			</div>
		  </div>

		  <div class="form-group text-right">
			<div class="col-sm-offset-2 col-sm-10">
				<span style='color:red'>{{ login_status }}</span>
			  <button type="submit" class="btn btn-primary" id='myButton'>GET START</button>
			</div>
		  </div>
		</form>

			  </div>
			  <div class="modal-footer">
				<span>Welcome to my monitor</span>
			  </div>
	</div>


</body>
</html>