.body {
		min-height:2000px;
 		padding-top: 70px;
	}
.main_jk {
	position:absolute;
	top:80px;
	left:100px;
	right:100px;
	padding:20px 20px 20px 20px;
}
.center-container-hx {
    box-shadow: 2px 0 5px rgba(214, 214, 215, 0.9), -2px 0 5px rgba(214, 214, 215, 0.9);
}
